@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
/********************** 글로벌 설정 *********************/
body {
  font-family: 'Pretendard';
}
.wrapper {
  max-width: 1168px;
  margin: 0 auto;
}
/********************** pagination *********************/
.pagination {
  margin-top: 2.5em;
  justify-content: center;
}
.page-item.active .page-link {
  background-color: rgb(194, 197, 229);
  border: 1px solid rgb(201, 201, 201);
}

/********************** header-wrapper  *********************/
.header-wrapper {
  display: flex;
  align-items: center;
  background-color: rgb(111, 117, 170);
  color: #fff;
}
.header-wrapper .logo {
  padding: 0.5em;
  font-size: 2em;
}
.header-wrapper .logo::after {
  content: 'Firebase Board';
}
.header-wrapper .logo i {
  font-size: 0.875em;
}
.header-wrapper .navi-wrap {
  display: flex;
  margin-left: auto;
}
.header-wrapper .navi-wrap .navi {
  padding: 1.5em;
  margin-left: 0.5em;
  cursor: pointer;
}
.header-wrapper .navi-wrap .navi:hover {
  background-color: rgb(140, 169, 206);
}
.header-wrapper .navi-wrap .navi.bt-logout {
  display: none;
}
.header-wrapper .navi-wrap .navi.bt-logout::after {
  content: 'Log Out';
}
.header-wrapper .navi-wrap .navi.bt-login::after {
  content: 'Sign In';
}
.header-wrapper .navi-wrap .info-wrap {
  display: flex;
  align-items: center;
  display: none;
}
.header-wrapper .navi-wrap .info-wrap .photo {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin-right: 0.5em;
  overflow: hidden;
}
.header-wrapper .navi-wrap .info-wrap .photo img {
  max-width: 100%;
  height: auto;
  display: block;
}
.header-wrapper .navi-wrap .info-wrap .email {
  font-size: 1.125em;
}
/********************** title-wrapper *********************/
.title-wrapper {
  margin: 3em 0 2em 0;
  text-align: center;
}
.title-wrapper h2.title {
  font-size: 1.75em;
  margin-bottom: 0.5em;
}
.title-wrapper h3.title {
  font-size: 0.875em;
  color: #888;
}

/**********************create-wrapper *********************/
.create-wrapper {
  padding: 0.75em 0;
  display: none;
}
.create-wrapper .create-form {
  display: flex;
  align-items: center;
}
.create-wrapper .create-form input[name='content'] {
  flex-grow: 1;
  margin: 0 0.75em;
}
/**********************list-wrapper *********************/
.list-wrapper {
}
.list-wrapper table > thead > tr > :nth-child(1) {
  width: 10%;
}
.list-wrapper table > thead > tr > :nth-child(3) {
  width: 15%;
}
.list-wrapper table > thead > tr > :nth-child(4) {
  width: 20%;
}
.list-wrapper table > thead > tr > :nth-child(5) {
  width: 10%;
}

/********************** 반응형 설정 *********************/
@media (max-width: 1399px) {
}

@media (max-width: 1199px) {
  .wrapper {
    margin: 0 2em;
  }
}

@media (max-width: 991px) {
  .list-wrapper table > thead > tr > :nth-child(5) {
    display: none;
  }
  .list-wrapper table > tbody > tr > :nth-child(5) {
    display: none;
  }
}

@media (max-width: 767px) {
  .header-wrapper .logo::after {
    content: 'FB Board';
  }
  .header-wrapper .navi-wrap .navi.bt-logout::after {
    content: '';
  }
  .header-wrapper .navi-wrap .navi.bt-login::after {
    content: '';
  }
  .list-wrapper table > thead > tr > :nth-child(4) {
    display: none;
  }
  .list-wrapper table > tbody > tr > :nth-child(4) {
    display: none;
  }
}

@media (max-width: 575px) {
  .create-wrapper .create-form {
    display: flex;
    justify-content: center;
  }
  .create-wrapper .create-form input {
    margin: 0.25em 0;
  }
  .create-wrapper .create-form input[name='content'] {
    margin: 0.25em 0;
  }

  .list-wrapper table > thead > tr > :nth-child(4) {
    display: none;
  }
  .list-wrapper table > tbody > tr > :nth-child(4) {
    display: none;
  }
  .list-wrapper table > thead > tr > :nth-child(1) {
    display: none;
  }
  .list-wrapper table > tbody > tr > :nth-child(1) {
    display: none;
  }
  .list-wrapper table > thead > tr > :nth-child(3) {
    display: none;
  }
  .list-wrapper table > tbody > tr > :nth-child(3) {
    display: none;
  }
}
